@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #0f172a; /* slate-900 */
  color: #f8fafc;
}
